<html>
  <body>
    <title>{{ title }}</title>
    <table>
    {% for user in users %}
      <tr>
        <td>
          <a href="{{ user.url }}">{{ user.username }}</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>